@use 'fonts';

*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(var(--v-theme-secondary));
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: rgb(var(--v-theme-background));
}

.router-link-active,
.router-link-exact-active {
    background-color: rgb(var(--v-theme-surface)) !important;
}


a {
    text-decoration: inherit;
    color: inherit;
}

.font-inter {
    font-family: Inter, sans-serif;
}

.font-space {
    font-family: 'Space Grotesk';
}

.vss-movable {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}