@font-face {
    font-family: Inter;
    font-display: swap;
    src:url("@styles/webfonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Space Grotesk";
    font-display: swap;
    src:url("@styles/webfonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Work Sans";
    font-display: swap;
    src: url("@styles/webfonts/Work_Sans/WorkSans-VariableFont_wght.ttf") format("truetype");
}