@use "fonts";

.font-inter {
  font-family: Inter, sans-serif;
}

.font-space {
  font-family: 'Space Grotesk', sans-serif;
}

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(var(--v-theme-secondary));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: inherit;
  color: inherit;
}